* {
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  color: #534c42;
  background: rgb(14, 8, 102);
  background: linear-gradient(
    90deg,
    rgba(14, 8, 102, 1) 1%,
    rgba(9, 9, 96, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__list {
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
  }
}
a {
  text-decoration: none;
  color: #fd1d1d;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 15px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding: 0;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
}

footer {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
