* {
  box-sizing: border-box;
}

body {
  color: #000;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
  }
}
a {
  text-decoration: none;
  color: #000;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 15px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    padding: 0;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
}

footer {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}
